/*----------------------------------------------------------------------------------------------*/
/* BUTTONS */
/*----------------------------------------------------------------------------------------------*/

.btn {
  background: #fff;
  color: #4c57d3;
  border: 1px solid #4c57d3;
}

.btn:hover {
  background: #c1c4c8;
  cursor: pointer;
}

.btn:active {
  background: #4c57d3;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn[disabled] {
  opacity: 0.5;
}

/* Variant
   ========================================================================== */

.btn.btn-primary {
  background: #4c57d3;
  color: #fff;
}

.btn.btn-primary:hover {
  background: rgb(31, 50, 136);
  cursor: pointer;
}

.btn.btn-link {
  border: none;
  text-decoration: none;
  background: transparent;
}

.btn.btn-link:hover {
  background: none;
  cursor: pointer;
}

/* Colors
   ========================================================================== */

.btn.btn-success {
  background: rgb(60, 185, 49);
  color: #fff;
  border: none;
}

.btn.btn-error {
  background: rgb(223, 10, 10);
  color: #fff;
  border: none;
}

/* Sizes
   ========================================================================== */

.btn.btn-lg {
  width: 200px;
  height: 50px;
}

.btn.btn-sm {
  width: 100px;
  height: 25px;
}

/* Loading
   ========================================================================== */

.btn.loading .loader {
  border: 3px solid #4c57d3;
  /* Light grey */
  border-top: 3px solid #fff;
  /* Blue */
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation: spin 2s linear infinite;
  display: inline-block;
  line-height: 1;
}

.btn.btn-primary.loading .loader {
  border: 3px solid #fff;
  /* Light grey */
  border-top: 3px solid #4c57d3;
  /* Blue */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

/* Group
   ========================================================================== */

.btn-group {
  display: flex;
}

/* only the buttons which have a button before */
.btn-group .btn+.btn {
  border-left: 0;
}

/* Buttons icons
   ========================================================================== */

.btn.btn-action {
  background: #4c57d3;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}