.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgb(68, 67, 67);
  margin-bottom: 15px;
}

.card-header {
  padding: 10px;
  border-bottom: 1px solid rgb(219, 219, 219);

  .form-switch-container {
    justify-content: space-between;
    font-size: 0.7rem;
  }

  .form-switch {
    width: 20px;
    height: 10px;

    // Default state

    .form-icon::before {
      width: 9px;
      height: 9px;
    }

    // Checked state
    input[type="checkbox"]:checked+.form-icon:before {
      margin-left: 10px;
    }
  }
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.card-content {
  padding: 10px;
}

.card-slider {
  font-size: 0.8rem;

  .form-switch {
    width: 20px;
    height: 10px;

    // Default state
    .form-icon::before {
      width: 9px;
      height: 9px;
    }

    // Checked state
    input[type="checkbox"]:checked+.form-icon:before {
      margin-left: 10px;
    }
  }
}


.card-picture-border {
  border: 1px solid rgb(185, 185, 185);
  padding: 5px;
  border-radius: 3px;
  text-align: center;

  .avatar {
    margin: auto;
  }
}