/*----------------------------------------------------------------------------------------------*/
/* FORMS */
/*----------------------------------------------------------------------------------------------*/

.form-group {
    margin: 5px 0px;
}

.form-input {
    margin: 5px 0px;
    border: 1px solid #b5d7e4;
}

.form-label {
    display: block;
    margin: 15px 0 0 0;
}

.form-input:focus {
    border: 1px solid #b5d7e4;
    outline: none;
    box-shadow: 0 0 5px #b5d7e4;
}

.form-select:focus {
    border: 1px solid #b5d7e4;
    box-shadow: 0 0 5px #b5d7e4;
    outline: none;
}

.form-select {
    border-radius: 0%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 3px 15px;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.35rem center;
    background-size: 0.4rem 0.5rem;
}

.form-group .form-radio {
    margin-top: 15px;
    display: block;
}

.form-radio input {
    margin-right: 5px;
}

/*SWITCH*/

.switch-container {
    display: flex;
    align-items: center;
}

.form-switch {
    position: relative;
    width: 40px;
    height: 20px;
    margin-right: 20px;
}

.form-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.form-switch .form-icon {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(167, 167, 167);
    transition: all linear 0.3s;
    border-radius: 25px;
}


.form-switch input[type="checkbox"]:checked+.form-icon:before {
    margin-left: 20px;
}

.form-switch input:checked+.form-icon {
    background-color: rgb(8, 240, 124);
}

.form-switch .form-icon::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    width: 18px;
    height: 18px;
    display: block;
    border: 1px solid #cbcbcc;
    transition: all linear 0.1s;
}

/*Form inline*/

.form-group .form-inline {
    display: inline-block;
    padding: 0 20px 0 0;
}

/*ICONS*/

.has-icon-left {
    position: relative;
    display: block;
}

.has-icon-left i {
    width: 10px;
}


.has-icon-left input {
    padding-left: 20px;
}

.has-icon-left .icon-file-check {
    position: absolute;
    top: 8px;
    left: 3px;
    bottom: 0;
    right: 0;
}

/*FORM SUCCESS*/

.form-input.is-success {
    border: 1px solid rgb(42, 224, 42);
}

.form-input-hint {
    color: rgb(42, 224, 42);
}

/*FORM GROUP*/

.input-group {
    display: flex;
    margin: 5px 0;
}

.input-group span {
    height: 22px;
    padding: 1px;
}

.input-group input {
    height: 22px;
    margin: 0;
}

.input-group button {
    height: 22px;
    padding: 1px;
}

.input-group-addon {
    border: 1px solid rgb(39, 39, 39);
}